---
layout: page
title: Chinese Paints
---

{% for chinesepaint in site.data.artists %}

    <h2>{{ chinesepaint.ArtistID }}.{{ chinesepaint.EnglishName }}({{ chinesepaint.ChineseName }}), Born in:{{ chinesepaint.Nationality }}, Gender: ({{ chinesepaint.Gender }}); ({{ chinesepaint.BirthYear }})-{{ chinesepaint.DeathYear}}</h2>

    {% for i in (1..3) %}

    <img src="/chinaartists/{{ chinesepaint.EnglishName | replace: " ", "_" }}_{{ chinesepaint.ChineseName }}/{{ chinesepaint.EnglishName | replace: " ", "_" }}_0{{i}}.jpg"> 

    {% endfor %}

    {% endfor %}
